@import url('common_sub.css');

html,
body {
    background: #e6e3de;
}

/* =================================================== */

main .subject h1{
    overflow: hidden;
    padding: 5px 0;
}
main .subject h1 p {
    display: inline-block;
    border: 5px solid #303030;
    padding: 0 5rem;
    
    transform: translateY(110%);

}
main .subject h1 span{
    display: inline-block;
    transform: translateY(-50%);
}



/* ================================================= */
main .a_00 {
    width: 80%;
    margin: 0 auto;
}

main .a_00 h2 {
    opacity: 0;
    transition:1.5s;
}

main .a_00 .arrow {
    text-align: center;
    font-size: 2.5rem;
    margin: 4rem 0;
    opacity: 0;
    transition: 1s;
    animation: arrow 1.5s linear infinite;
}

@keyframes arrow{
    0%{transform:translateY(0);}
    25%{transform:translateY(-25%);}
    50%{transform:translateY(0%);}
    75%{transform:translateY(25%);}
    100%{transform:translateY(0);}
}

main .a_00 img {
    width: 100%;
}

/* =================================================== */
main .a_01 {
    width: 80%;
    margin: 7rem auto;
    position: relative;
}

main .a_01 div {
    text-align: center;
    font-size: 8rem;
    margin: 7rem 0;
}
main .a_01 div p span:nth-of-type(1){
    display: inline-block;
    transform: translateX(-60%);
    opacity:0;
}
main .a_01 div p span:nth-of-type(2){
    display: inline-block;
    transform: translateX(60%);
    opacity:0;
}

main .a_01 div b {
    font-size: 10rem;
}

main .a_01 > p {
    text-align: center;
    font-size: 2rem;
    line-height: 1.8;
}

main .a_01 img {
    display: block;
    margin: 7rem auto;
}

/* =================================================== */
main .a_02 {
    width: 80vw;
    margin: 0 auto;
    border-top: 1px solid #303030;
}

main .a_02 h2 {
    margin-bottom: 3.5rem;
}

main .a_02 .history {
    display: flex;
    justify-content: center;
    position: relative;
}

main .a_02 .history > div{
    transform-style: preserve-3d;
    position: absolute;
    top: 10px; left: 50%;
    transform: translateX(-50%);
    background: #e6e3de;
    padding: 10px;
    animation: spin 3s linear infinite ;
}

@keyframes spin {
     25%{transform: translateX(-50%) rotateY(90deg);}
     50%{transform: translateX(-50%) rotateY(180deg);}
     75%{transform: translateX(-50%) rotateY(270deg);}
     100%{transform: translateX(-50%) rotateY(360deg);}
}

main .a_02 .history > div img{}

main .a_02 .history article {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

main .a_02 .history article:first-of-type {
    border-right: 1px solid #303030;
}

main .a_02 .history article h3 {
    text-align: center;
    font-size: 6rem;
    margin: 4rem 0 9.5rem 0;
}

main .a_02 .history article img {
    width: 30vw;
    display: inline-block;
    margin: 0 1rem;
}

main .a_02 .history article p {
    white-space: pre-line;
    word-break: keep-all;
    font-size: 2rem;
    line-height: 1.8;
    text-align: center;
    margin: 8.5rem 2rem;
}

/* =================================================== */
main .a_03 {
    width: 70%;
    margin: 0 auto;
}

main .a_03 h2 {
    margin-bottom: 9.5rem;
}

main .a_03 .img_btn {
    width: 100%;
    display: flex;
    flex-direction: row;
}

main .a_03 .img_btn li {
    overflow: hidden;
    margin: 0 auto;
    padding: 1px;
    width: 25%;
    position: relative;
}
main .a_03 .img_btn li:hover {
    filter: grayscale(100%);
}
main .a_03 .img_btn li.active {
    filter: grayscale(100%);
}
main .a_03 .img_btn li.active:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
    
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 1.5rem solid none;
    border-bottom: 1.5rem solid #e6e2de;
    border-right: 1.5rem solid transparent;
    border-left: 1.5rem solid transparent;
}

main .a_03 .img_btn li img {
    width: 100%;
    height: 100%;
}

/*=============================*/
main .a_03 .img_slide {
    width: 100%;
    height: 40vw;
    overflow: hidden;
    position: relative;
}

main .a_03 .img_slide figure {
    width: 100%;
    display: none;
}
main .a_03 .img_slide figure.active {
    display: block;
}

main .a_03 .img_slide figure img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

/*==============================================*/


@media (max-width:1024px){

    main .a_02 {width: 95vw;}
    main .a_02 .history {display: block;}
    main .a_02 .history > div{top: 0; left: 10vw;}
    main .a_02 .history article {
        width: 95vw;
        margin: 0 auto;
    }

    main .a_02 .history article:first-of-type {
        border-right:none;
    }

    main .a_02 .history article h3 {
        margin: 4rem 0 7rem 0;
    }

    main .a_02 .history article img {
        width: 40vw;
    }

    main .a_02 .history article p {
        white-space: normal;
        word-break: keep-all;
    }
    main .a_03 {
        width: 95%;
        margin: 0 auto;
    }
    
}
