@import url('common_sub.css');

html,
body {
    background: #e6e3de;
}

/* =================================================== */

main .subject h1{
    overflow: hidden;
    padding: 5px 0;
}
main .subject h1 p {
    display: inline-block;
    border: 5px solid #303030;
    padding: 0 5rem;
    
    transform: translateY(110%);

}
main .subject h1 span{
    display: inline-block;
    transform: translateY(-50%);
}



/* ================================================= */
main .a_00 {
    width: 80%;
    margin: 0 auto;
}

main .a_00 h2 {}

main .a_00 h2::after {
    content: '↓';
    display: block;
    font-size: 2.5rem;
    margin: 4rem 0;
}

main .a_00 img {
    width: 100%;
}

/* =================================================== */
main .a_01 {
    width: 80%;
    margin: 7rem auto;
    position: relative;
}

main .a_01 div {
    text-align: center;
    font-size: 8rem;
    margin: 7rem 0;
}
main .a_01 div p span:nth-of-type(1){
    display: inline-block;
    transform: translateX(-60%);
    opacity:0;
}
main .a_01 div p span:nth-of-type(2){
    display: inline-block;
    transform: translateX(60%);
    opacity:0;
}

main .a_01 div b {
    font-size: 10rem;
}

main .a_01 > p {
    text-align: center;
    font-size: 2rem;
    line-height: 1.8;
}

main .a_01 img {
    display: block;
    margin: 7rem auto;
}

/* =================================================== */
main .a_02 {
    width: 80vw;
    margin: 0 auto;
    border-top: 1px solid #303030;
}

main .a_02 h2 {
    margin-bottom: 3.5rem;
}

main .a_02 .history {
    display: flex;
    justify-content: center;
    position: relative;
}

main .a_02 .history > div{
    transform-style: preserve-3d;
    position: absolute;
    top: 10px; left: 50%;
    transform: translateX(-50%);
    background: #e6e3de;
    padding: 10px;
    animation: spin 3s linear infinite ;
}

@keyframes spin {
     25%{transform: translateX(-50%) rotateY(90deg);}
     50%{transform: translateX(-50%) rotateY(180deg);}
     75%{transform: translateX(-50%) rotateY(270deg);}
     100%{transform: translateX(-50%) rotateY(360deg);}
}

main .a_02 .history > div img{}

main .a_02 .history article {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

main .a_02 .history article:first-of-type {
    border-right: 1px solid #303030;
}

main .a_02 .history article h3 {
    text-align: center;
    font-size: 6rem;
    margin: 4rem 0 9.5rem 0;
}

main .a_02 .history article img {
    width: 30vw;
    display: inline-block;
    margin: 0 1rem;
}

main .a_02 .history article p {
    white-space: pre-line;
    font-size: 2rem;
    line-height: 1.8;
    text-align: center;
    margin: 8.5rem 2rem;
}

/* =================================================== */
main .a_03 {
    width: 70%;
    margin: 0 auto;
}

main .a_03 h2 {
    margin-bottom: 9.5rem;
}

main .a_03 ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

main .a_03 ul li {
    overflow: hidden;
    margin: 0 auto;
    padding: 1px;
    width: 25%;
    height: 27rem;
    position: relative;
}

main .a_03 ul li:hover {
    filter: grayscale(100%);
}

main .a_03 ul li.active {
    filter: grayscale(100%);
}

main .a_03 ul li.active:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 0;

    width: 0;
    height: 0;
    border-top: 20px solid none;
    border-bottom: 20px solid #e6e2de;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

main .a_03 ul li img {
    width: 100%;
/*    height: 100%;*/
}

main .a_03 > div {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

main .a_03 div > div {
    width: 100%;
    display: none;
}

main .a_03 div.active {
    display: block;
}

main .a_03 div > div img {
    width: 100%;
}


/*==============================================*/


@media (max-width:1024px){

    main .a_02 {width: 95vw;}
    main .a_02 .history {display: block;}
    main .a_02 .history > div{top: 0; left: 10vw;}
    main .a_02 .history article {
        width: 95vw;
        margin: 0 auto;
    }

    main .a_02 .history article:first-of-type {
        border-right:none;
    }

    main .a_02 .history article h3 {
        margin: 4rem 0 7rem 0;
    }

    main .a_02 .history article img {
        width: 40vw;
    }

    main .a_02 .history article p {
        white-space: normal;
        word-break: keep-all;
    }


    
}
