@import url('common_sub.css');

main > div{
    width: 100%;
    background: #f8bebe;
}
main > div h2{
    margin: 0;
    padding: 20rem 0;
}

main .s_01 {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

main .s_01 ul {
    width: 100%;
}

main .s_01 ul li {
    border-top: 1px solid #303030;
    overflow: hidden;
    position: relative;

}

main .s_01 ul li:last-of-type {
    border-bottom: 1px solid #303030;
}

main .s_01 ul li:nth-of-type(1) a:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0%;
    opacity: 0;
    background: url('../img/show01.png') no-repeat 0 43%;
    background-size: cover;
    transition: .5s;
}

main .s_01 ul li:nth-of-type(2) a:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0%;
    opacity: 0;
    background: url('../img/show02.png') no-repeat 0 70%;
    background-size: cover;
    transition: .5s;
}

main .s_01 ul li:nth-of-type(3) a:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0%;
    opacity: 0;
    background: url('../img/show03.png') no-repeat 0 50%;
    background-size: cover;
    transition: .5s;
}

main .s_01 ul li:nth-of-type(4) a:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0%;
    opacity: 0;
    background: url('../img/show01.png') no-repeat 0 43%;
    background-size: cover;
    transition: .5s;
}

main .s_01 ul li:nth-of-type(1):hover a:before,
main .s_01 ul li:nth-of-type(2):hover a:before,
main .s_01 ul li:nth-of-type(3):hover a:before,
main .s_01 ul li:nth-of-type(4):hover a:before {
    top: 0;
    opacity: 1;
}

main .s_01 ul li a {
    overflow: hidden;
}

main .s_01 ul li a span {
    font-size: 2rem;
    color: #ededed;
    display: block;
    text-align: center;
    margin-top: 4rem;
}

main .s_01 ul li a h3 {
    padding-bottom: 7rem;
    padding-left: 10rem;
    font-size: 15rem;
    white-space: nowrap;
    transition: .5s;

}

main .s_01 ul li:hover a h3 {
    color: #ededed;

}

/*====================================================================*/

html,
body {
    background: #e6e2dd;
}

main .subject {
    width: 100%;
    overflow: hidden;
    margin-bottom: 7rem;
}

main .subject h1 {
    font-size: 20rem;
    letter-spacing: -3rem;
    white-space: nowrap;
}

main .s_poster,
main .s_li_01,
main .s_li_02,
main .s_video,
main .s_li_03 {
    width: 80%;
    margin: 0 auto;
}

/*====================================================================*/

main .s_poster {}

main .s_poster img {
    width: 100%;
}

/*====================================================================*/

main .s_li_01 {
    display: flex;
    margin: 2rem auto;
}

main .s_li_01 table {
    width: 30%;
    text-align: left;
    margin: 15rem 0 15rem 6rem;
}

main .s_li_01 table tr {
    line-height: 7rem;
}

main .s_li_01 table tr th {
    font-size: 2rem;
}

main .s_li_01 table tr td {
    font-size: 1.5rem;
}

main .s_li_01 div {
    width: 70%;
    white-space: pre-line;
    font-size: 5rem;
    font-weight:bold;
    padding: 15rem 0 15rem 20rem;
    border-left: 1px solid #303030;

}

/*====================================================================*/

main .s_li_02,
main .s_li_03 {
    display: flex;
    border-top: 1px solid #303030;
}

main .s_li_02 h3,
main .s_li_03 h3 {
    width: 30%;
    font-size: 3.5rem;
    padding-top: 15rem;
}

main .s_li_02 h3:after,
main .s_li_03 h3:after {
    content: '';
    display: block;
    width: 10rem;
    height: 0.8rem;
    background: #303030;
    margin-top: 2rem;
}


main .s_li_02 p,
main .s_li_03 p {
    width: 70%;
    white-space: pre-line;
    font-size: 1.5rem;
    padding: 15rem 0 15rem 20rem;


}

/*====================================================================*/

main .s_video {
    width: 80%;
    margin-bottom: 5rem;
}

main .s_video video {
    width: 100%;
}

/*====================================================================*/


main .s_li_03 {
    border-bottom: 1px solid #303030;
}

main .s_li_03 h3 {}

main .s_li_03 p {}

/*====================================================================*/

main .s_li_04 {
    width: 100%;
    margin: 10rem auto;
}
main .s_li_04 div{}

main .s_li_04 div a {
    font-size: 10rem;
    display: inline-block;
    margin-top: 10rem;
    transform: translateX(calc(100vw/2 - 50%));
    transition:.3s;
}

main .s_li_04 div a:after {
    content: '';
    display: block;
    border: 1rem solid #303030;
    margin-top: 3rem;
    transition:.3s;
}

main .s_li_04 div a:hover{
    color: #f8bebe;
}

main .s_li_04 div a:hover:after{
    border: 1rem solid #f8bebe;
}


