@import url('common_sub.css');

html,
body {
    background: #e6e2dd;
}

main .subject {
    padding-bottom: 5rem;
}

/*===========================================================*/

main .p_01 {
    width: 100%;
    background: #303030;
    padding: 7.5rem 0;
}

main .p_01 h2,
main .p_01 div,
main .p_01 p {
    color: #e6e2dd;
}

main .p_01 h2 {
    text-align: center;
    margin: 0;
}

main .p_01 div {
    margin-top: 7.5rem;
    white-space: pre-line;
    text-align: center;
    font-weight: bold;
    font-size: 10rem;
}

main .p_01 p {
    margin: 7rem 0;
    white-space: pre-line;
    text-align: center;
    font-size: 2rem;
    line-height: 1.8;
}

main .p_01 img {
    display: block;
    margin: 0 auto;
}

/* ================================================================= */
main .p_02 {
    width: 80%;
    margin: 0 auto;
    padding: 4.5rem 0;
    display: flex;
}

main .p_02 > div:first-child {
    padding: 10rem 0 10rem 20rem;
    width: 40%;
    border-right: 1px solid #303030;
    white-space: pre-line;
    font-size: 2rem;
    line-height: 3;
}

main .p_02 .schedule {
    padding-top: 5rem;
    width: 60%;
}

main .p_02 .schedule div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .p_02 .schedule div a {
    font-size: 5rem;
    color: #e6e2dd;
    height: 8rem;
    background: #303030;
    padding: 0 2.5rem;
}

main .p_02 .schedule div span {
    font-size: 8rem;
    margin: -2rem 10rem;

}

main .p_02 .schedule p {
    font-size: 4rem;
    text-align: center;
    margin-top: 10rem;
    font-weight: bold;

}

=================================================================*/
