@import url('common_sub.css');

html, body{
    background: #bfc2c1;
}
main .subject {
    padding-bottom: 5rem;
}
main .subject h1 span {
    display: inline-block;
    transform: translateY(100%);
}


/*=======================================================*/

.t_01{
    width: 30vw;
    margin: 0 auto;
}
.t_01 div{
    width: 100%;
    position: relative;
}
.t_01 div span{
    background: #bfc2c1;
    position: absolute;
    top:-10px; ;left: 30px;
    font-size: 1.5rem;
}

.t_01 div input{
        width: 100%; height: 60px;
        background: #babcbb;
        margin-bottom: 30px;
        padding: 10px;
    
}

.t_01 div:last-of-type input{
        width: 100%; height: 250px;
        background: #babcbb;
        margin-bottom: 30px;
        padding: 10px;
}

.t_01 p{
        margin-bottom: 170px;
}

.t_01 p a{
    display: inline-block;
    padding: 20px 60px;
    background:#303030; 
    color: #e6e2dd;
    font-size: 1.5rem;
    transition: .3s;
    cursor: pointer;

}

.t_01 p a:hover{
    background: #e6e2dd;
    color: #303030;
    
}

/*======================================*/
@media (max-width:1024px){
    .t_01{
        width: 90%;
        margin: 0 auto;
    }
}


/*============================================*/


@media (max-width:768px){
    
}





