html {
    font-size: 10px;
}

html,body {
    margin: 0;
    }

ul,li {
    margin: 0;padding: 0;
    list-style: none;}

h1,h2,h3,h4,h5,h6,p {margin: 0; padding: 0;}

* {box-sizing: border-box;}

a {text-decoration: none; color: #303030;}

table{border-collapse: collapse;}


