html,
body {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #303030;
}

table {
    border-collapse: collapse;
}


/*==================================*/

html {
    font-size: 10px;
}


/*==========================================================================*/

.header {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

header .logo {
    height: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo p {
    position: relative;
    font-size: 1.5rem;
    padding: 0 1rem;
    color: #303030;
}

header .logo p:before {
    position: absolute;
    left: 0;
    top: -70%;
    content: '';
    display: block;
    width: calc((80vw - 35rem)/2);
    border-top: 1px solid #303030;
}

header .logo p:after {
    position: absolute;
    left: 0;
    bottom: -70%;
    content: '';
    display: block;
    width: calc((80vw - 35rem)/2);
    border-bottom: 1px solid #303030;
}

header .logo a {
    transform: translateX(75%);
}

header .logo a img {
    width: 100%;
}

header nav {
    position: relative;
    font-size: 1.5rem;
    padding: 0 1rem;
}

header nav:before {
    position: absolute;
    right: 0;
    top: -70%;
    content: '';
    display: block;
    width: calc((80vw - 35rem)/2);
    border-top: 1px solid #303030;

}

header nav:after {
    position: absolute;
    right: 0;
    bottom: -70%;
    content: '';
    display: block;
    width: calc((80vw - 35rem)/2);
    border-bottom: 1px solid #303030;
}

header nav a {
    position: relative;
    margin-right: 3.5rem;
    padding: 1rem 1rem;
}

header nav a:last-child {
    margin-right: 0;
}

header nav a:hover:after {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #303030;
    transition: .3s;
}

header nav a.active:after {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #303030;
    transition: .3s;
}

/*===================================================*/

main .subject {
    width: 80%;
    margin: 0 auto;
}

main .subject h1 {
    font-size: 20rem;
    text-align: center;
    margin: -10px 0 0 0;
    color: #303030;

}

h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 7.5rem;
    letter-spacing: 0.5rem;
}


/*===================================================*/

main .c_03 {
    width: 80%;
    margin: 0 auto;
}

main .c_03 h3 {
    padding: 7rem 0 9rem 0;
    text-align: center;
    font-size: 2rem;
}

main .c_03 div {
    display: flex;
    padding-bottom: 1.5rem;
}

main .c_03 div article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    width: 50%;
}

main .c_03 div article:first-child {
    border-right: 1px solid #303030;
}

main .c_03 div article h2 {
    padding-bottom: 7rem;
    text-align: center;
    font-size: 3.5rem;
}

main .c_03 div article img {
    display: block;
    margin: 0 auto;
    width: 30rem;
    height: 30rem;
}

main .c_03 div article .arrow {
    margin-top: 7.5rem;
    color: #e6e3de;
    font-size: 2rem;
    padding: 1rem 3rem;
    background: #303030;
    transition: .5s;
}

main .c_03 div article .arrow:hover {
    color: #303030;
    background: #f8bebe;

}

/*=========================================*/

main .c_04 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid #303030;
}

main .c_04 > div {
    width: 30%;
    padding: 7rem 0 0 3rem;
    margin-right: 5rem;
    border-right: 1px solid #303030;
}

main .c_04 > div a {}

main .c_04 > div a img {}

main .c_04 .contact {
    width: 70%;
    margin: 7rem 0 11rem 5.5rem;
}

main .c_04 .contact div {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

main .c_04 .contact div:first-child {
    margin: 0 18rem 11rem 0;

}

main .c_04 .contact div h4 {
    margin-bottom: 4rem;
    font-size: 1.8rem;
    color: #303030;

}

main .c_04 .contact div p {
    white-space: pre-line;
    line-height: 4rem;
    font-size: 2rem;
    color: #303030;

}

main .c_04 .contact div a {
    display: block;
    line-height: 4rem;
    font-size: 2rem;


}

main .c_04 .contact div a:after {
    content: '-';
    display: inline-block;
    padding-left: 0.5rem;
}

/*=======================================*/

footer {
    width: 100%;
    height: 7rem;
    background: #303030;
}

footer p {
    font-size: 1rem;
    color: #f8bebe;
    text-align: center;
    line-height: 7rem;
    white-space: pre-wrap;

}
